In [26]:
import pandas as pd
import numpy as np

data = pd.read_csv('correl.csv')
data

data1 = data.loc[:, ["Calories", "Flavor"]]

#Create the Data Frame
data2 = pd.DataFrame(data1)
data2

     Calories        Flavor
0       670.0        Savory
1       400.0        Savory
2         NaN        Savory
3       450.0        Savory
4       350.0        Savory
..        ...           ...
549     290.0           NaN
550     130.0  Savory~Spicy
551     610.0        Savory
552     200.0        Savory
553     200.0        Savory

[554 rows x 2 columns]

In [48]:
recipe=pd.DataFrame(data=data2)

from sklearn.impute import SimpleImputer
X = recipe.iloc[:,[0]].values
X = pd.DataFrame(data=X)
X

         0
0    670.0
1    400.0
2      NaN
3    450.0
4    350.0
..     ...
549  290.0
550  130.0
551  610.0
552  200.0
553  200.0

[554 rows x 1 columns]

In [64]:
imputer = SimpleImputer(missing_values = np.nan , strategy = 'mean')
imputer = imputer.fit(X)
X = imputer.transform(X) #it replaces missing data with mean
X = pd.DataFrame(data=X)
X

Y = recipe.iloc[:,[1]].values
Y = pd.DataFrame(data=Y)
Y

data3 = pd.concat([X, Y], axis=1, ignore_index=True)
data3
data3.columns =['Calories', 'Flavor']

In [65]:
# f_oneway() function takes the group data as input and 
# returns F-statistic and P-value
from scipy.stats import f_oneway
 
# Running the one-way anova test between Flavor and Calories
# Assumption(H0) is that Flavor and Calories are NOT correlated
 
# Finds out the Prices data for each FuelType as a list
CategoryGroupLists=data3.groupby('Flavor')['Calories'].apply(list)
 
# Performing the ANOVA test
# We accept the Assumption(H0) only when P-Value &gt; 0.05
AnovaResults = f_oneway(*CategoryGroupLists)
print('P-Value for Anova is: ', AnovaResults[1])

P-Value for Anova is:  1.8263738332419452e-05

In [ ]:
# P-value is below 0.05% hence Null hypothesis, 
# H0 = There is no correlation between Flavor and Calories, will get rejected. 
#And we will accept alternative hypothesis which is there is a correlation between Flavor and Calories